body {
    background-color: lightgray;
    margin: 0;
}

/* Targeting a class in CSS - every element with the class of header will receive these CSS rules */
.header {
    background-color: lawngreen;
    overflow: hidden;
}

.headerLink {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

/* Target an  ID in CSS - the element with the ID of homeLink will receive these CSS rules */
#homeLink {
    float: left;
}

#aboutLink {
    float: right;
}