body {
    background-color: lightgray;
    margin: 0;
}

/* Targeting a class in CSS - every element with the class of header will receive these CSS rules */
.header {
    background-color: rgba(150, 0, 50, 1.0);
    width: 100%;
    margin: 0;
}

.headerLink {
    padding: 10px 10px;
    text-decoration: none;
    color: #FFFFFF;
    /* red: f * f= 15 * 15 =255
        blue: f * f= 15 * 15= 255
        green: f * f= 15 * 15= 255
        
        255, 255, 255
    font-size: 20pt;*/
    ;
}

/* Target an  ID in CSS - the element with the ID of homeLink will receive these CSS rules */
#homeLink {
    float: left;}

#homeLink:hover {
    text-decoration: underline;
}

#aboutLink {
    float: right;
}

#aboutLink:hover {
    text-decoration: underline;
}