body {
    background-color: lightgray;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* Targeting a class in CSS - every element with the class of header will receive these CSS rules */
.header {
    background-color: rgba(150, 0, 50, 1.0);
    width: 100%;
    top: 0;
}

/* Target an  ID in CSS - the element with the ID of homeLink will receive these CSS rules */
#homeLink {
    margin-right: ;
    padding: 10px;
    color: white;
}

#homeLink:hover {
    text-decoration: underline;
    
}

.headerLink {
    text-align: center;
    margin: 10px;
}
#aboutLink {
    float: right;
    padding: 10px;
    color: white;
}

#aboutLink:hover {
    text-decoration: underline;
}